<app-header></app-header>

<section class="class-home-general">
    <div class="container-category-iphone">
        <a target="_blank" href="https://ishop.gt/collections/iphone/products/iphone-14-pro-max" class="items-category-iphone">
            <img src="https://cdn.shopify.com/s/files/1/0101/2522/products/iPhone_14_Space_Black_iShop_1_b166a7c5-a9df-48dd-871b-d2a9c08f87b3_600x.webp?v=1663959529" alt="Iphone">
            <h1>Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse vero unde aspernatur eius voluptates sunt reprehenderit sequi sapiente, temporibus natus provident, eveniet deserunt modi beatae cumque placeat debitis error.</p>
            <div class="redirect-cta">
                + comprar
            </div>
        </a>
        <a target="_blank" href="https://ishop.gt/collections/iphone/products/iphone-14-pro-max"  class="items-category-iphone">
            <img src="https://cdn.shopify.com/s/files/1/0101/2522/products/iPhone_14_Space_Black_iShop_1_b166a7c5-a9df-48dd-871b-d2a9c08f87b3_600x.webp?v=1663959529" alt="Iphone">
            <h1>Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse vero unde aspernatur eius voluptates sunt reprehenderit sequi sapiente, temporibus natus provident, eveniet deserunt modi beatae cumque placeat debitis error.</p>
            <div class="redirect-cta">
                + comprar
            </div>
        </a>
        <a target="_blank" href="https://ishop.gt/collections/iphone/products/iphone-14-pro-max"  class="items-category-iphone">
            <img src="https://cdn.shopify.com/s/files/1/0101/2522/products/iPhone_14_Space_Black_iShop_1_b166a7c5-a9df-48dd-871b-d2a9c08f87b3_600x.webp?v=1663959529" alt="Iphone">
            <h1>Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse vero unde aspernatur eius voluptates sunt reprehenderit sequi sapiente, temporibus natus provident, eveniet deserunt modi beatae cumque placeat debitis error.</p>
            <div class="redirect-cta">
                + comprar
            </div>
        </a>
        <a target="_blank" href="https://ishop.gt/collections/iphone/products/iphone-14-pro-max"  class="items-category-iphone">
            <img src="https://cdn.shopify.com/s/files/1/0101/2522/products/iPhone_14_Space_Black_iShop_1_b166a7c5-a9df-48dd-871b-d2a9c08f87b3_600x.webp?v=1663959529" alt="Iphone">
            <h1>Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse vero unde aspernatur eius voluptates sunt reprehenderit sequi sapiente, temporibus natus provident, eveniet deserunt modi beatae cumque placeat debitis error.</p>
            <div class="redirect-cta">
                + comprar
            </div>
        </a>
        <a target="_blank" href="https://ishop.gt/collections/iphone/products/iphone-14-pro-max"  class="items-category-iphone">
            <img src="https://cdn.shopify.com/s/files/1/0101/2522/products/iPhone_14_Space_Black_iShop_1_b166a7c5-a9df-48dd-871b-d2a9c08f87b3_600x.webp?v=1663959529" alt="Iphone">
            <h1>Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse vero unde aspernatur eius voluptates sunt reprehenderit sequi sapiente, temporibus natus provident, eveniet deserunt modi beatae cumque placeat debitis error.</p>
            <div class="redirect-cta">
                + comprar
            </div>
        </a>
    </div>
</section>

<app-footer></app-footer>