<footer class="class-footer-tag">
    <div class="container-footer-general">
        <div class="row1-container-general">
            <div class="row1-colum1-container-general">
                <div class="row1-colum1-row1-container-img">
                    <img src="https://cdn.shopify.com/s/files/1/0101/2522/files/logo_ishop2_400x.png?v=1614815192"
                        alt="">
                </div>
                <div class="row1-colum1-row2-container-icons">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
            <div class="row1-colum2-container-general">
                <h2>Menú</h2>
                <ul>
                    <li><a href=""></a>Inicio</li>
                    <li><a href=""></a>Comprar</li>
                    <li><a href=""></a>Blog</li>
                    <li><a href=""></a>Tiendas</li>
                    <li><a href=""></a>Soporte</li>
                </ul>
            </div>
            <div class="row1-colum3-container-general">
                <h2>Sobre nosotros</h2>
                <ul>
                    <li>Empleos</li>
                    <li>Mi cuenta</li>
                </ul>
            </div>
            <div class="row1-colum4-container-general">
                <h2>Subscríbete</h2>
                <p>Suscríbete para obtener la información más reciente sobre nuevos productos y promociones.</p>
                <div class="container-suscrip1">
                    <div class="container-input-email">
                        <input type="email" matInput [formControl]="emailFormControl" placeholder="Correo electronico*">
                        <div class="error" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </div>
                        <div class="error" *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </div>
                    </div>
                    <div class="container-btn">
                        <button>Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row2-container-general">

        </div>
    </div>
</footer>