<header>
    <div class="header-container-general">
        <div class="container-logo-header">
            <img src="https://cdn.shopify.com/s/files/1/0101/2522/files/logo_ishop_3366dd27-24de-4455-bb4e-9569e636808d_200x.png?v=1614815110" alt="Logo">
        </div>
            <ul>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
            </ul>
            <div class="container-icons-header">
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
    </div>
</header>